/* Geral */
* {
    margin : 0;
    padding: 0;
    box-sizing: border-box ;
    font-family: "Roboto";
}

body {
    display: flex;
    flex-wrap: wrap;
}

/* Apresentção do Evento */
#about-container {
    flex : 1.4;
    padding : 2rem 4rem;
}

#brand {
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    margin-bottom: 1rem;
}

#brand img {
    height: 50px;
    margin-right: 0.6rem;
}

#exclusive {
    text-transform: uppercase;
    color: #0075ff;
    font-weight: bold;
    font-size: 0.9rem;
    margin : 1rem;
}

#about-container h2{
    font-size: 2.4rem;
    max-width: 500px;
    margin-bottom: 1rem;
}

#date {
    text-transform: uppercase;
    color : #aaa;
    margin-bottom: 1rem;
}

#description {
    max-width: 500px;
    margin-bottom: 1rem;
    line-height: 1.4rem;
}

#about-container h4{
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

#users-container {
    display: flex;
    flex-wrap: wrap;
    gap : 1rem;
}

.user-card {
    border : 2px solid #acc;
    padding: 1rem;
    width: 180px;
    text-align: center;
}

.user-card img {
    width: 120px;
    border-radius: 50%;
    margin-bottom: 1rem;
}
.user-card .username {
    font-weight: bold;
    margin-bottom: 0.6;
}

.user-card .user-role {
    color : #aaa;
    font-size: 0.9rem;
}

/* Formulario */
#form-container {
    flex : 1;
    background-image: url("/img/pattern.png");
}